// Use this file to store all of the private credentials 
// and connection details

#define SECRET_SSID "NOME_DA_TUA_REDE_WIFI"
#define SECRET_PASS "PASSWORD_DA_TUA_REDE"

#define SECRET_CH_ID 0000000
#define SECRET_WRITE_APIKEY "A_TUA_API_KEY_DO_THINGSPEAK"
